.Awal{
     background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
     url('https://picsum.photos/1200/400?nature');    
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: Poppins;
    color: white;
    margin-bottom: 30px;
    }
.cardAll{
    display: flex;
    gap: 15px;
    justify-content: center;
    background-color: grey;

}
.card1{
    background-color: aqua;
    border-color: black;
    border-radius: 10px;
    margin-top: 10px;
}